* {
	font-family: "Ubuntu", sans-serif;
	font-size: 60px;
}

body {
    text-align: center;
    overflow-x: hidden;
}

p {
    color: #ff0000;
    animation: scalee 2s linear infinite;
}

@keyframes scalee {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scalex(1.2);
    }
    100% {
        transform: scale(1);
    }
}