* {
    font-family: 'Arial', sans-serif;
    /* text-align: center;
    color: white; */
    font-size: 2rem;
}
/* 
table,
tr,
td {
    border: 1px solid blue;
    width: 400px;
    font-size: 25px;
}

table {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.181);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(111, 111, 255), green);
    overflow-y: hidden;
}

h1 {
    font-size: 70px;
} */